<html>
    <head>
        <title>Hello guys!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="todo-body">
            <form>
                <input type="text" name="item" placeholder="Add items.." required />
                <button type="submit">add new item</button>
            </form>
            <ul>
                <% data.forEach(function(item){ %>
                    <li><%= item %></li>
                <%}); %>
            </ul>
        </div>
    </body>
</html>