<html>
    <head>
        <title>Hello guys!</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="/assets/todo-list.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Welcome to todo</h1>
        <div id="todo-body">
            <form>
                <input type="text" name="item" placeholder="Add items.." required />
                <button type="submit">add new item</button>
            </form>
            <ul>
                <% data.forEach(function(item){ %>
                    <li><%= item.item %></li>
                <%}); %>
            </ul>
        </div>
    </body>
</html>